body {
    text-align: center;
    font-family: Candara,Calibri,Segoe,Segoe UI,Optima,Arial,sans-serif;
    margin: 0;
    background-image: url("https://www.aisquared.com/wp-content/uploads/2014/05/libraries.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
}



h1 {
    color: green;
    font-weight: lighter;
}

header {
    font-family: Orbitron;
}

header a {
    z-index: 1000;
}

header h1 {
  background-color: orange;
  border-right: 1px solid black;
  color: black;
  float: left;
  margin: 0;
  padding: 20px 40px;
}

strong {
    color: green;
}

section {
  font-size: 1.5em;
}



header {
  background-color: white;
  top: 0;
  width: 100%;
  position: fixed;
  box-shadow: 0px 3px 5px 0px black;
}

header img {
  height: 50px;
  vertical-align: bottom;
}


header h2 {
  color: black;
  font-size: 2em;
  font-weight: lighter;
  margin: 0;
  overflow: hidden;
  padding: 20px;
  pointer-events: none;
  position: fixed;
  width: 100%;
}

header h3 {
  float: right;
  padding-right: 20px;
  font-weight: normal;
  color: orange;
}

section {
    margin-top: 150px;
}

table {
  margin: 0 auto;
  text-align: center;
  border-spacing: 0;

}

tr td {
    border-bottom: 1px solid green;
}

td{
  padding: 20px;
  font-weight: lighter;
  font-size: 1.7em;
}

div#orderTable > table td, div#orderTable > table th {
  font-size: 1.1em;
  font-weight: lighter;
  padding: 10px;
}

th {
  background-color: rgba(1, 1, 1, 0.8);
  color: white;
  font-size: 1.7em;
  font-weight: lighter;
  padding: 20px;
}

tr:nth-child(2n+2) td, tr:nth-child(2n+2) td a {
  color: black;
}

tr td, tr td a {
  color: white;
}


tr {
  background-color: rgba(1, 1, 1, 0.5);
}

tr:nth-child(2n+2){
  background-color: rgba(255, 255, 255, 0.7);
}

td:hover img {
    -webkit-transform:scale(1.25); /* Safari and Chrome */
    -moz-transform:scale(1.25); /* Firefox */
    -ms-transform:scale(1.25); /* IE 9 */
    -o-transform:scale(1.25); /* Opera */
     transform:scale(1.25);
}

td img {
    height: 50px;
}

.link {
  background-color: orange;
  color: white;
  float: right;
  margin-bottom: 5px;
  margin-left: 10px;
  margin-right: 1px;
  padding: 5px;
}



.link:hover {
    cursor: pointer;
}

    #totalPrice {
      float: left;
    }

    #orders {
      bottom: 0;
      position: fixed;
      right: 0;
    }

    #orderTable {
      clear: both;
    }

    .circle {
      background-color: white;
      border: 2px solid black;
      border-radius: 50%;
      font-weight: bolder;
      height: 20px;
      margin: 0 auto;
      text-align: center;
      vertical-align: middle;
      width: 20px;
      padding: 3px;
      font-weight: bold;
      font-size: 17px;
    }

    #orderTable .circle {
          background-color: white;
          border: 2px solid black;
          border-radius: 50%;
          font-weight: bolder;
          height: 20px;
          margin: 0 auto;
          text-align: center;
          vertical-align: middle;
          width: 20px;
          padding: 3px;
          font-weight: bold;
        }

    .action:hover {
        cursor: pointer;
    }

footer {
    position: fixed;
    bottom: 0;
    left: 0;
    padding: 10px;
    color: orange;
    width: 50%;
    background-color: rgba(1, 1, 1, 0.7);
}

    .action {
        background-color: orange;
        height: 20px;
        margin: 0px auto;
        text-align: center;
        width: 20px;
        padding: 3px;
        font-weight: bold;
        font-size: 17px;
        color: white;
    }

    .error {
        color: red;
        font-size: 12px;
        display: block;
    }